.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: url('https://www.themealdb.com/images/media/meals/rxvxrr1511797671.jpg');
  background-color: var(--blue-300);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
    margin-top: 2rem;
  }

  h2 {
    color: var(--gray-200);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  
}

.formBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70vh;
  background: var(--blue-800);
  background: linear-gradient(0deg, rgb(26, 26, 43) 0%, rgba(60, 60, 85, 0.705) 70%, #4555ff00 100%);
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    // margin: 8rem 0;

    input {
      background-color: var(--white);
      color: var(--gray-500);
      border-radius: 3px;
      // height: 3rem;
      width: 100%;
      padding: 1rem;
    }

    button {
      font-size: 1.5rem;
      color: var(--white);
      background: rgb(27,187,101);
      background: linear-gradient(129deg, rgba(27,187,101,1) 0%, rgba(103,191,112,1) 100%);
      margin: 2rem 0;
      // padding: 1rem 2rem;
      border-radius: 30px;
      width: 10rem;
      height: 4rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      span:first-child {
        background-color: var(--white);
        color: var(--green-500);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: inherit;
        justify-content: center;
        align-items: inherit;
        margin-left: -0.5rem;
        font-size: 2.25rem;
      }
    }
  }
}

// .logo {
//   margin: 30px auto 0;
//   width: 320px;
// }

// .logo-image {
//   width: 100%;
// }
