.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;

  a, button {
    background-color: var(--blue-300);
    color: var(--white);
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 18rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    &:hover {
      background-color: var(--blue-400);
    }
  }

  button {
    background-color: var(--red-500);
  }
}