.filters {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
  
  button {
    padding: 0.85rem;
    background: rgb(27,187,101);
    background: linear-gradient(129deg, var(--blue-300) 0%, rgb(113, 111, 221) 100%);
    color: var(--white);
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.25rem;
    flex: 1;
  }
}

@media screen and ( min-width:480px ) {
  .filters {
    flex-direction: column;
    align-self: flex-start;
  }

  .favoriteRecipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    grid-area: cards;
    padding-right: 2rem;
  }
}