.ingredients {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  label {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    input {
      margin: 0 0.5rem;

      &:before {
        content: '';
        width: 12px;
        height: 12px;
        display: block;
        background-color: var(--gray-50);
        border: 1px solid #DDD;
    }

    &:checked::before{
      content: '';
        width: 12px;
        height: 12px;
        display: block;
      background-color: var(--blue-400);
    }

    }
    span:last-child {
      margin-left: auto;
    }
  }

  .checked {
    background-color: var(--blue-300);
    color: var(--white);
    font-weight: 600;
  }
}

