.doneRecipes {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  gap: 1rem;

  button {
    padding: 0.85rem;
    background: rgb(27,187,101);
    background: linear-gradient(129deg, var(--blue-300) 0%, rgb(113, 111, 221) 100%);
    color: var(--white);
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.25rem;
    flex: 1;
  }
}