.details {
  width: 90vw;

  > img {
    width: 100%;
    border-radius: 20px;
    margin: 2rem 0;
  }

  h3 {
    font-size: 1.25rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;

  h2 {
    color: var(--gray-800);
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 60vw;
  }

  input:first-child {
    margin-right: 1rem;
  }
}

.ingredients {
  list-style: none;
  margin: 2rem 0;

  li {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    span:first-child {
      font-weight: 700;
    }
    span:last-child {
      color: var(--gray-500);
    }
  }
}

.instructions {
  color: var(--gray-500);
}
