.modalBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 44, 0.7);
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    border-radius: 5px;
    margin: 3rem 0;
    width: 90vw;
    background-color: var(--white);
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;

    
    > input {
      font-size: 1.5rem;
      border: 1px solid var(--gray-200);
      border-radius: 3px;
      padding: 1rem;
    }

    .closeModal {
      position: absolute;
      right: -15px;
      top: -15px;
      width: 3.25rem;
      height: 3.25rem;
      // padding: 0.5rem 1rem;
      border-radius: 50%;
      background-color: var(--white);
      border: 3px solid var(--red-500);
      color: var(--red-500);
    }
  }
}

.radioGroup {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;

  label {
    padding: 1rem;
    background-color: var(--gray-50);
    border-radius: 10px;
    display: flex;
    align-items: center;
    // margin-bottom: 1rem;

    &.checked {
      background-color: var(--blue-300);
      color: var(--white);
      font-weight: 600;
    }

    input {
      &:before {
        content: '';
        width: 12px;
        height: 12px;
        display: block;
        background-color: var(--gray-50);
        border: 1px solid #DDD;
      }

      &:checked::before{
        content: '';
        width: 12px;
        height: 12px;
        display: block;
        background-color: var(--blue-400);
      }
    }
  }

  input {
    margin-right: 0.5rem;
  }
}

.submitButton {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: var(--blue-400);
  color: var(--white);
}