.header {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 2.5rem;
    width: min-content;
  }

  input {
    background-color: var(--gray-50);
    
    &:first-child {
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: rgb(211, 193, 35);
  
      filter: invert(100);
    }
  }

  @media screen and ( min-width:480px ) {
    grid-area: header;
    width: calc(100vw - 5rem);
    padding: 0 4rem;
  }
}